**1.Explain the features of Python that make it a popular choice for  programming?**

 The features of Python that make it a popular choice for  programming as follow as:

 Simple Syntax: Easy to read and write, great for beginners.

Interpreted: Runs without compilation, enabling fast development.

Cross-Platform: Works on various operating systems without changes.

Large Standard Library: Built-in modules for common tasks.

Vast Ecosystem: Many libraries and frameworks for diverse applications.

Versatility: Used in web dev, data science, AI, and more.

Supports OOP & Functional: Flexible in programming styles.

Dynamic Typing: No need to declare variable types.

Integration: Works well with other languages like C, C++, and Java.

Machine Learning & Data Science: Rich libraries for AI and data.

**2.Describe the role of predefined keywords in python and provide examples of how they are used in a program?**

In [50]:
# Predefined words are also known as reserved words are words that have special meaning in the language's syntax. These keywords are used to define the structure and behavior of the program, and they cannot be used as identifiers (such as variable names or function names).
# Role and usage of some important Python keywords:

#1)Control Flow:
#if, else, elif: Used for conditional statements.
age = 20
if age > 18:
    print("Yoy are Adult")
else:
    print("You are Minor")

Yoy are Adult

In [2]:
#2)Loops:
#for, while, break, continue: Used for loop control.
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
#3)Logical Operators:
#and, or, not: Used to combine or negate conditions.

age = 20
if age > 18 and has_license:
    print("Can drive")

In [3]:
#4)Variable Assignment:
#True, False, None: Used to represent boolean values and null.

is_valid = True

In [4]:
#6)
print()
#input function actually takes every value from user as a string.

**3.Compare and contract mutable and immutable objects in python with examples?**

Mutable means  we can change the object values after the creation.
Examples are lists, dictionaries, sets.

1)list:List is organized collection of data.

List is can store heterogeneous data means can store any data type.

In [5]:
my_list = [1, 2, 3]
print(id(my_list))  # Memory location before change
my_list[0] = 100    # Modifying the list
print(id(my_list))  # Memory location after change (same as before)
print(my_list)      # Output: [100, 2, 3]

137724869867648
137724869867648
[100, 2, 3]

**2)Dictionaries:** Dictionary is a data structure that can store data as key value pairs.
code:

In [7]:
dict={"name":"Ajith","phone":1234}# inintialize and declaring dictionary
{"name":"teja","phone":1234} #before modifying dictionary
dict["name"]="Ajith"
{"name":"Ajith","phone":1234} # after  modifying dictionary

{'name': 'Ajith', 'phone': 1234}

**3)Sets :** sets are unordered  and unique collection of elements
code:

In [23]:
s = {5, 6}
s.add(100)  #add a value into set.
s

{5, 6, 100}

In [24]:
s.pop()  # It removes a random value into set.

100

In [25]:
s

{5, 6}

Immutable means can't change the object values after the creation.
Examples:Strings, tuples, frozen sets.

1)String: string is a collection of characters.

In [ ]:
name= "code"
name[1]="T"# throws a error
#2)Tuples: tuple is a organnised collection of data .
#it is can store heterogeneous data means can store any data type .
#3)frozen sets: immutable version of set
my_fs=frozenset([1,2,3])

**4.Discuss the different type of operators in python and provide examples of how they are used?**

Python supports several types of operators used to perform operations on variables and values. Here are the key types of operators along with examples of how they are used:


1.Arithmetic Operators
These are used to perform basic mathematical operations.

Operator	Description  	        Example
+	        Addition	           5 + 3 = 8
-	        Subtraction	         10 - 2 = 8
*	        Multiplication	     4 * 3 = 12

/	        Division        10 / 2 = 5.0

%	        Modulus(Remainder)   10 % 3 = 1

**	      Exponentiation	    2 ** 3 = 8

//	      Floor Division	   10 // 3 = 3

In [26]:
a = 9
b = 3
print(a + b)  # Output: 12
print(a // b)  # Output: 3 (floor division)

12
3

2.Comparison (Relational) Operators
these compare two values and return a boolean result (True or False).

Operator	Description	        Example

==	       Equal to	        5 == 5 # True

!=       	Not equal to  	  5 != 3 # True

>	        Greater than  	  5 > 3 # True

<	        Less than     	  5 < 3 # False

>=       	Greater or equal	5 >= 3 # True

<=	       Less or equal	  5 <= 5 # True

In [28]:
x = 11
y = 7
print(x > y)  # Output: True
print(x == y)  # Output: False

True
False

3.Assignment Operators
These are used to assign values to variables.


Operator	  Description	          Example
=	            Assign	              x = 5

+=	        Add and assign	    x += 3 # x = x + 3

-=	        Subtract and assign	x -= 2 # x = x - 2

*=	        Multiply and assign	x *= 2 # x = x * 2

/=        	Divide and assign	x /= 2 # x = x / 2

//=     	Floor Div and assign	x //= 2 # x = x // 2

**=     	Exponent and assign	x **= 3 # x = x ** 3

In [29]:
x = 20
x += 5  # Equivalent to x = x + 5
print(x)  # Output: 25

25

4. Logical Operators
These are used to combine conditional statements.

In [37]:
"""
Logical Operators
These are used to combine conditional statements.

Operator	             Description	                            Example
and	       Returns True if both conditions are true	        (x > 5 and y < 10)
or       	Returns True if at least one condition is true	  (x > 5 or y < 10)
not     	Reverses the result	                              not(x > 5)
"""

x = 6
y = 7
print(x > 3 and y < 15)  # Output: True
print(not(x == 5))       # Output: True

True
True

In [38]:
"""
5. Bitwise Operators
These work on bits and perform bit-by-bit operations.

Operator	Description	                   Example
&	        Bitwise AND                  	5 & 3 = 1
`	`    	Bitwise OR
^	        Bitwise XOR (Exclusive OR)	 5 ^ 3 = 6
~	        Bitwise NOT (One's complement)	~5 = -6
<<	        Left Shift                  	5 << 1 = 10
>>	        Right Shift                  	5 >> 1 = 2
"""

a = 5  # In binary: 101
b = 3  # In binary: 011
print(a & b)  # Output: 1 (001 in binary)
print(a | b)  # Output: 7 (111 in binary)

1
7

In [39]:
"""
6.Identity Operators
These are used to compare objects' memory locations.

Operator	           Description	                                   Example
is	        Returns True if both variables are the same object	      x is y
is not	    Returns True if both variables are not the same object	  x is not y
Example:
x = [1, 2, 3]
y = x
print(x is y)  # Output: True (same object)
z = [1, 2, 3]
print(x is z)  # Output: False (different objects, even though content is the same)
"""

x = [1, 2, 3]
y = x
print(x is y)  # Output: True (same object)
z = [1, 2, 3]
print(x is z)  # Output: False (different objects, even though content is the same)

True
False

In [41]:
"""
7.Membership Operators
These are used to test if a sequence contains an element.

Operator	       Description	                                       Example
in       	Returns True if a value is present in a sequence      	5 in [1, 2, 3, 5]
not in    Returns True if a value is not present in a sequence	10 not in [1, 2, 3, 5]
"""

fruits = ['apple', 'banana', 'cherry']
print('banana' in fruits)  # Output: True
print('pineapple' not in fruits)  # Output: True
#These different types of operators allow developers to write powerful and efficient Python programs,
#handling everything from arithmetic operations to complex logical expressions.

True
True

**5.Explain the concept of type casting in python with examples?**


In Python type casting (or type conversion) is the process of converting a value from one data type to another. This is essential when performing operations that require a specific data type.

**Implicit Type Casting:**
Python often performs type casting automatically to prevent data loss during operations. This is known as implicit type casting.

In [42]:
integer_number = 123
float_number = 1.23
result = integer_number + float_number
print(result)  # Output: 124.23
print(type(result))  # Output: <class 'float'>

124.23
<class 'float'>

**Explicit Type Casting:**
When implicit conversion isn't possible or doesn't yield the desired result, you can perform explicit type casting using built-in functions:

int() – converts a value to an integer

float() – converts a value to a float

str() – converts a value to a string

bool() – converts a value to a boolean

In [48]:
#Converting a String to an Integer:

num_str = "123"
num_int = int(num_str)
print(num_int)  # Output: 123
print(type(num_int))  # Output: <class 'int'>

#Converting a Float to an Integer:

num_float = 3.7
num_int = int(num_float)
print(num_int)  # Output: 3
print(type(num_int))  # Output: <class 'int'>

#Converting an Integer to a String:

num_int = 456
num_str = str(num_int)
print(num_str)  # Output: '456'
print(type(num_str))  # Output: <class 'str'>

#Converting a String to a Float:

num_str = "5.7"
num_float = float(num_str)
print(num_float)  # Output: 5.7
print(type(num_float))  # Output

123
<class 'int'>
3
<class 'int'>
456
<class 'str'>
5.7
<class 'float'>

**6.How do conditional statements work in python with example?**

In [71]:
"""Conditional statements is a mechanism in python it execute statements based on the conditions .The condition is evaluated as either True or False, and depending on the result, different blocks of code can be executed.
Types of Conditional Statements
1)if : if statements executes if the condition is true"""

x = 15
if x > 5:
    print("x is greater than 5")
#output:x is greater than 5

"""2)else:excecutes if the first condition is false"""

x = 4
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")
#output:x is less than or equal to 5

"""3)elif:used to check multiple conditions if the first condition is false"""

x = 10
if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is equal to 10")
else:
    print("x is less than 10")
#output:x is equal to 10

x is greater than 5
x is less than or equal to 5
x is equal to 10

**7.Describe the diffeent types of loops in Python and their  use cases with examples?**

In [ ]:
"""
Python has two primary types of loops: for loops and while loops. These loops allow you to repeat a block of code multiple times based on specific conditions or iterations.

1. for Loop
The for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string) or a range of numbers. The loop will execute the block of code for each item in the sequence.

Use Case:
When you know the number of iterations in advance (i.e., when you want to iterate over a list, string, or range)."""
#Syntax:


for item in sequence:
    # Code block to execute
#Example 1: Iterating over a list

 fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
#Output:
#Python has two primary types of loops: for loops and while loops. These loops allow you to repeat a block of code multiple times based on specific conditions or iterations.

"""1. for Loop
The for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string) or a range of numbers. The loop will execute the block of code for each item in the sequence.

Use Case:
When you know the number of iterations in advance (i.e., when you want to iterate over a list, string, or range).
Syntax:"""

for item in sequence:
    # Code block to execute
#Example 1: Iterating over a list

  fruits =["apple", "banana", "cherry"]
for fruit in fruits:
      print(fruit)
#Output:
#apple
#banana
#cherry
#Example 2: Using range() to iterate a certain number of times
python

for i in range(5):
    print(i)
# Output:

0
1
2
3
4

"""2. while Loop
The while loop will execute as long as the condition is True. It is often used when the number of iterations is not known in advance, and you want to repeat the loop until a specific condition changes.

Use Case:
When you do not know the number of iterations in advance (i.e., repeating an action until a condition is met).
Syntax:"""

while condition:
    # Code block to execute
#Example 1: Basic while loop
 i = 1
while i <= 5:
    print(i)
    i += 1
#Output:

1
2
3
4
5

#Example 2: Using range() to iterate a certain number of times


for i in range(5):
    print(i)

#Output:
0
1
2
3
4

"""2. while Loop
The while loop will execute as long as the condition is True. It is often used when the number of iterations is not known in advance, and you want to repeat the loop until a specific condition changes.

Use Case:
When you do not know the number of iterations in advance (i.e., repeating an action until a condition is met).
Syntax:"""

while condition:
    # Code block to execute
#Example 1: Basic while loop
 i = 1
while i <= 5:
    print(i)
    i += 1

#Output:
1
2
3
4
5